
.box{
    background-color: black;
    height: 400px;
}
.content{
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    margin-top: 20px;
}
.box1{
    height: 470px;

}
img{
    float: right;
}

.let{
    position: relative;
    top: 100px;    
    text-align: center;

}
h2{
    font-size: 29px;
    font-weight: 500;
}
.box2{
    height: 700px;
    background-color: black;
}
.lot{
    text-align: center;
    position: relative;
    top: 100px;
    right: 355px;
    color: white;
    font-size: 45px;
}
p{
    color: white;
    position: relative;
    top: 150px;
    left: 550px;
    line-height: 9px;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}